{% extends 'base/layout.html' %} {% load static %} {% block content %} 

<center><h1>DJANGO Application on student database</h1></center>

{% if messages %}
    {% for message in messages %}
    <div class = "alert {% if message.tags %} alert-{{message.tags}} {% endif %}" role = "alert">
        {{message}}
    </div>
    {% endfor %}
{% endif %}
{% comment %} <form action="" method="POST">
    {% csrf_token %} {{form.as_p}}
    <br><br><br>
    <input type="text" name="" id="" class="form-control" maxlength="10" minlength="2" placeholder="Text" required="True" autofocus="True">
    <input type="email" name="" id="" class="form-control" maxlength="30" placeholder="email" required="True">
    <input type="number" name="" id="" class="form-control" maxlength="10" minlength="2" placeholder="number" required="True">
    <input type="submit" value="submit">
</form> {% endcomment %}

<div class = "container">
    <form action="" method = "POST" class = "mt-4">
        {% csrf_token %} {{form.as_p}}
    <div class="row">
       <div class="col-sm-10"> <input type="submit" value = "Search" class = "btn btn-primary"></div>
       <div class="col-sm-2"><a class="btn btn-primary" href="create-student/">Create New Student</a></div>
    </div>
    </form>

</div>

{% comment %} {% if result %}
    {% for r in result %}
        <ul class = "list-unstyled">
            <li class = h1>{{ r.student_name }}</li>
            <li>
                <a href="delete-student/{{r.id}}">Delete</a>
            </li>
        </ul>
    {% endfor %}
{% endif %} {% endcomment %}
<br><br><br>
{% if result %}
    <table class = "table">
        <thead class = "thead-dark">
            <tr>
                <th scope = "col"> ID </th>
                <th scope = "col"> Student Name </th>
                <th scope = "col"> Department </th>
                <th scope = "col"> Action </th>
            </tr>
        </thead>
        <tbody>
            {% for r in result %}
                <tr>
                    <th scope = "row">{{r.id}}</th>
                    <td>{{r.student_name}}</td>
                    <td>{{r.department}}</td>
                    <td>
                        <a class="btn btn-primary" href="edit-student/{{r.id}}">Edit</a> &nbsp &nbsp &nbsp 
                        <a class="btn btn-danger" href="delete-student/{{r.id}}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %} 