{% extends "base/layout.html" %}
{% block content %}
<div class="row">
       <div class="col-sm-6 align-center"><a class="btn btn-primary" href="login/">Login</a></div>
       <div class="col-sm-6 align-center"><a class="btn btn-primary" href="register/">Register</a></div>
    </div>
    <div class="row">
        <div class="col-sm-6 align-center"><a href="admin/" class="btn btn-primary">Admin</a></div>
        <div class="col-sm-6 align-center"><a href="home/" class="btn btn-primary">Home</a></div>
    </div>

{% endblock content %}
    